<% provide(:header, "Create a Team") %>
<% provide(:lead, "Because working alone gets boring") %>

  
<div class="page-signup">

	<div class="container">
        <%= render partial: 'shared/user_registration/header' %>
    </div>

    <div class="main-body">
        <div class="container">
        	<%= render "shared/user_registration/team_form" %>
        </div>
    </div>
</div>