<% provide(:title, "My Dashboard") %>
<h1>My Dashboard</h1>

<% @teams.each do |t| %>
	<div class="well">
    	<h1><%= t.name %></h1>
    	<%= link_to "Go", team_path(t), class: "btn btn-primary" %>
 	</div>
<%end%>



