<% provide(:title, "My Dashboard") %>
<h1>My Dashboard</h1>

<li class="btn">
	<%= link_to signout_path,  method: "delete" do %>
        <i class="fa fa-sign-out"></i>
        <span>Log Out</span>
    <% end %>
</li>


<% @teams.each do |t| %>
	<div class="well">
    	<h1><%= t.name %></h1>
    	<%= link_to "Go", team_path(t), class: "btn btn-primary" %>
 	</div>
<%end%>



