<% provide(:title, "Create an Account") %>
  
<%= render partial: 'shared/user_registration/header' %>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <%= render partial: 'shared/user_registration/user_form' %>
  </div>
</div>


