// SWAG Base Colors

$vitamin_c: #FF9900;
$route_66: #424242;
$steady_grey: #e9e9e9;
$bc: #bcbcbc;
$game_blue: #3299bb;
$off_white: #e9eaec;

// new colors
// Colors

$black: #000;
$blackish: #050505;
$gray: #555;
$grayer: #444;
$gray-light: #b8b8b8;
$whitish: #f5f5f5;
$very-light-gray: #fcfcfc;
$white: #fff;

$green-taiga: #72a114;
$fresh-taiga: #9dce0a;
$dark-taiga: #879b89;
$dry-taiga: #70a87d;
$morning-taiga: #7ab987;
$dark-grayish-lime-green: #8b9e8d;


$red-light: #ff8282;
$red: #f00;

$rgba-red: 240, 15, 0, .8;

$orange: #d98a0b;

$button-green: #699b05;
$button-green-hover: #9dce0a;
$button-gray: #585858;
$button-gray-hover: #879b89;

$postit: #fff8e4;
$postit-hover: #f1e8cd;
$postit-dark-hover: #e4d6ad;


// Shared Colors
$green: #b1c11b;
$charcoal: $route_66;
$dark_grey: $bc;
$light_grey: $steady_grey;

$navy: #1b2838;
$blue: $game_blue;
$dark_blue_grey: #525e71;
$med_blue_grey: #6f7b8b;
$light_blue_grey: #8f969f;


$sea_green: #75b691;
$teal: #378283;
$dark_blue: #074369;
$plum: #6b3149;
$red: #ab3142;
$orange: $vitamin_c;
$mustard: #d1982a;