
<% if signed_in? %>
  <nav id="menu" class="navbar navbar-default navbar-fixed-top" role="navigation">
     <%if current_user.teams.present? %>
     	<%= link_to current_user.teams.first.name, dashboard_path, class: "navbar-brand" %>
     <%end%>
     <ul class="nav navbar-nav">
        <li><%= link_to "Sign out", signout_path, method: "delete" %></li>
        <li><%= link_to "Edit profile", edit_user_path(current_user) %></li>
     </ul>
  </nav>
<% end %>

