<aside id="nav-container">
	<div id="nav-wrapper">
    	<ul id="nav">
        	<li>
        		<%=link_to dashboard_path do %> 
        			<i class="fa fa-dashboard"></i><span>Dashboard</span> 
        		<%end%>
        	</li>
        </ul>
    </div>
</aside>